<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>
</head>
<body>
    <h1>My Expenses</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
        </tr>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense['name'] }}</td>
            <td>${{ expense['amount'] }}</td>
            <td>{{ expense['category'] }}</td>
            <td>{{ expense['date'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>